@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Geeky</h1>
    <p class="lead">Everyone worse than me is a noob.</p>
    <p class="lead">Everyone better than me has no life.</p>
    <p>
        <a href="https://localhost:44398/Home/FreeGames" class="btn btn-primary btn-lg">FreeGames &raquo;</a>
        <a href="https://localhost:44398/Home/Contact" class="btn btn-primary btn-lg">Contact &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="https://localhost:44398/VideoGames/Index" class="text">Game Catalog</a></h2>
        <p>Find the most popular games and basic information about them.</p>
        <img src="https://tenor.com/view/pro-gamur-gif-20729392.gif" alt="Gaming" width="350" height="195" style="border-radius:8px">
       

    </div>
        <div class="col-md-4">
            <h2><a href="https://localhost:44398/Developers/Index" class="text">Developers</a></h2>
            <p>Learn more about the people involved in the video game development.</p>
            <img src="https://tenor.com/view/developers-gif-13292051.gif" alt="Gaming" width="350" height="195" style="border-radius:8px">

        </div>
        <div class="col-md-4">
            <h2><a href="https://localhost:44398/Genres/Index" class="text">Genres</a></h2>
            <p>See a list of commonly defined video game genres that you didn't even know about.</p>
            <img src="https://tenor.com/view/giftpmp-tpmp-phrase-genre-enora-gif-7169531.gif" alt="Gaming" width="350" height="195" style="border-radius:8px">
            
        </div>
    </div>
    <br />
    <h2>Latest</h2>
    <div class="row">
        <div class="col-sm-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xej0Uzz0140?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-sm-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/XPEU53aLc6c?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
